<pool type="iscsi">
  <name>sharedpool</name>
  <source>
    <host name="172.16.0.4" port="3260"/>
    <device path="iqn.2020-04.weshipbugs.example:vm-storage"/>
  </source>
  <target>
    <path>/dev/disk/by-path</path>
  </target>
</pool>
